*{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    font-family: abchanel-couture, "华文细黑", STXiHei, "微软雅黑", "Microsoft Yahei", "华文黑体", "ST Heiti", "MS黑体", "MS Hei", abchanel-couture, Arial, Helvetica, sans-serif;
    /* height: 2000px; */
}
#header{
    width: 100%;
    height: 100px;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 99;
}
#header #header-black{
    /* position: sticky;
    top: 0%; */
    width: 100%;
    height: 8px;
    background: #000000;
}
#header #header-middle{
    /* float: left; */
    margin-top: 5px;
}
#header-middle #middle-text{
    width: 850px;
    height: 80px;
    float: left;
    font-size: 40px;
    text-align: right;
    /* padding-left: 400px; */
    line-height: 80px;
}
#header-middle #middle-font{
    float: left;
    height: 80px;
    /* width: 800px; */
    margin-left: 400px;
}
#middle-font .iconfont{
    float: left;
    font-size: 20px;
    line-height: 60px;
    /* text-align: right; */
    margin-left: 15px;
    /* cursor: pointer; */
}
#middle-font .triangle{
    position: relative;
    
}
#middle-font .triangle::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    border-color:  transparent transparent #fff transparent ;
    position: absolute;
    top: 80%;
    margin-top: -1.5px;
    right: 4px;
    z-index: 99;
    display: none;
}
#middle-font .triangle:hover::after,#middle-font .triangle:hover #register{
    display: block;
}
#middle-font #register{
    width: 300px;
    /* height: 300px; */
    /* border: #000 1px solid; */
    /* -moz-box-shadow: 0 0 5px #aaa; */
    background: #ffffff;
    position: absolute;
    top: 95%;
    left: -600%;
    box-shadow: 0 -1px 9px 1px rgba(159,159,159,0.5);
    z-index: 99;
    display: none;
}
#middle-font #register #log-in-text{
    margin-top: -10px;
    height: 30px;
    font-size: 12px;
}
#middle-font #register #log-in{
    width: 252px;
    /* margin: 0 auto; */
    margin-left: 30px;
}
#register #log-in #user,#register #log-in #password,#register #register-btn{
    width: 250px;
    height: 40px;
    /* top: -50px; */
}
#middle-font #register #register-btn{
    margin-left: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
#middle-font #register .register-text{
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: -10px;
    color: #808080;
    text-decoration: underline;
}
#middle-font #register .sign-in{
    margin-top: -30px;
}
#middle-font #place{
    width: 300px;
    height: 150px;
    /* height: 300px; */
    /* border: #000 1px solid; */
    /* -moz-box-shadow: 0 0 5px #aaa; */
    background: #ffffff;
    position: absolute;
    top: 95%;
    left: -620%;
    box-shadow: 0 -1px 9px 1px rgba(159,159,159,0.5);
    display: none;
    z-index: 99;
}
#middle-font #place #location{
    width: 252px;
    /* margin: 0 auto; */
    margin-left: 30px;
}
#middle-font #place #location-text{
    /* margin-top: -10px; */
    height: 30px;
    font-size: 12px;
}
#middle-font #place #location-btn{
    width: 251px;
    height: 45px;
    background: #ffffff;
    border: 1px  #cccccc solid;
    cursor: pointer;
}
#middle-font #place #location-input{
    width: 200px;
    height: 35px;
    float: left;
    border: 1px  #cccccc solid;
    /* background: #ffffff;
    border: 1px  #cccccc solid;
    cursor: pointer; */
}
#middle-font #place #location-font{
    /* font-size: 12px; */
    width: 45px;
    height: 37px;
    background: #ffffff;
    border: 1px  #cccccc solid;
    cursor: pointer;
    float: left;
}
#middle-font #place #location-font .search{
    /* font-size: 14px; */
    text-align: center;
    line-height: 35px;
}
#middle-font .triangle:hover #place{
    display: block;
}
#middle-font #shopping{
    width: 300px;
    height: 250px;
    color: #808080;
    background: #ffffff;
    position: absolute;
    top: 95%;
    left: -800%;
    box-shadow: 0 -1px 9px 1px rgba(159,159,159,0.5);
    display: none;
    z-index: 99;
} 
#middle-font #shopping #bag-title{
    width: 252px;
    height: 60px;
    margin-left: 30px;
    font-size: 12px;
    border-bottom:1px solid #808080;
}
#middle-font #bag-title #my-bag{
    display: block;
    float: left;
}
#middle-font #bag-title #products{
    display:block;
    float: right;
}
#middle-font #shopping #shopping-middle{
    width: 252px;
    height: 80px;
    margin-left: 30px;
    /* margin-top:  */
    font-size: 12px;
    text-align: center;
    line-height:80px;
    border-bottom: 1px solid #808080;
}
#middle-font #shopping #shopping-bottom{
    width: 252px;
    height: 60px;
    margin-left: 30px;
    font-size: 12px;
}
#middle-font #shopping-bottom #btm-img{
    width: 74px;
    height: 74px;
    float: left;
}
#middle-font #shopping-bottom #btm-text{
    display: block;
    float: left;
}
#middle-font .triangle:hover #shopping{
    display: block;
}
/* menu开始 */
#menu{
    width: 100%;
    border-bottom: 1px solid #ececec;
}
#submenu{
    height: 40px;
    width: 1000px;
    margin: 0 auto;
    /* text-align: center; */
    font-size: 14px;
}
#submenu li{
    float: left;
    width:60px;
    position: relative; 
    /* margin: 0 auto; */
    margin-left: 150px;
}
#submenu a{
    color:#808080;
}
/* #cosmetics #cosmetics-black{
    height: 5px;
    width: 30px;
    background: #000000;
    position: absolute;
    bottom: -21px;
} */
/* hint开始 */
#hint{
    height: 40px;
    /* margin-top: 15px; */
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #808080;
    border-bottom:1px solid #ececec;
}
/* return 开始 */
#return{
    width: 1200px;
    margin: 0 auto;
}
#return .arrow{
    font-size: 30px;
    color: #808080;
}
#return #return-text{
    font-size: 13px;
    color: #808080;
}
#return:hover #return-text{
    /* cursor: pointer; */
    text-decoration: underline;
}
/* 中间内容 shopping-bag 开始 */
#shopping-bag{
    width: 1500px;
    height: 1200px;
    margin: 40px auto;
}
#shopping-bag #shopping-title{
    text-align: center;
}
#shopping-title #title-first{
    font-size: 40px;
}
#shopping-title #title-second{
    font-size: 13px;;
    color: #808080
}
#shopping-container{
    width: 1332px;
    margin: 0 auto;
    height: 300px;
}
#shopping-left{
    margin-top: 50px;
    width: 784px;
    float: left;
}
#shopping-left #commodity{
    width: 784px;
    height: 185px;
    border-top:1px solid #ececec;
    border-bottom:1px solid #ececec;
}
#commodity #commodity-photo{
    width: 112px;
    height: 112px;
    margin-top: 30px;
    float: left;
} 
#commodity #commodity-detail{
    float: left;
    width: 642px;
    height: 187px;
    margin-left: 30px;
}
#commodity-price{
    height: 80px;
}
#detial-name{
    margin-top: 30px;
}
#detial-name #commodity-name{
    color: #808080;
    font-size: 13px;
}
#commodity-price #color{
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 35px;
}
#commodity-price .price-detail{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}
#commodity-price #number{
    float: left;
    margin-top: 30px;
    width: 60px;
    height: 43px;
    margin-left: 160px;
    /* border: 1px solid #808080; */
}
#commodity-price .price{
    float: right;
    margin-top: 30px;
}
#commodity-detail #commodity-change{
    float: left;
}
#commodity-change #change-text a{
    font-size: 14px;
    color: #808080;
    text-decoration: underline;
}
#gifts{
    width: 784px;
    height: 600px;
}
#gift-experience{
    font-size: 18px;
}
#gifts #gift-choice{
    margin-top: 8px;
    font-size: 14px;
}
#gifts #gifts-detail{
    width: 784px;
    height: 471px;
    margin-top: 30px;
}
#gifts #gifts-left{
    float: left;
    width: 363px;
    height: 407px;
}
#gifts .check-gift{
    width: 211px;
    height: 63px;
    margin-top: 70px;
}
#gifts #gifts-right{
    float: right;
    width: 363px;
    height: 407px;
}
 .check-name{
    font-size: 13px;
    font-weight: bold;
}
.more{
    font-size: 12px;
    color: #808080;
    text-decoration: underline;
}
.check-gift .box{
    display: block;
    float: left;
}
.check-gift .check-text{
    float: left;
    width: 140px;
    margin-left: 30px;
    margin-top: -45px;
} 
#diy{
    border-top: 1px solid #ececec;
}
#diy #gift-experience{
    margin-top: 30px;
}
#diy #wish{
    width: 450px;
    margin-top: 30px;
    margin-left: 150px;
    font-size: 13px;
    color:#808080;
}
#diy #letter{
    width: 126px;
    height: 97px;
    float: right;
}
#diy #diy-btn{
    margin-top: 150px;
    margin-left: 250px;
}
#diy #diy-btn button{
    width: 200px;
    height: 60px;
    background: #000000;
    color: #fff;
}
#shopping-right{
    width: 429px;
    height: 262px;
    float: right;
}
#shopping-right #order-detail{
    width: 429px;
    height: 262px;
    margin-top: 50px;
    border-top:5px solid #000;
    border-bottom: 1px solid #ececec;
}
#order-detail #order-title{
    font-size: 18px;
    margin-top: 20px;
}
#order-detail #order-list{
    font-size: 14px;
    margin-bottom: 20px;
}
.order-container{
    height: 20px;
    width: 429px;
}
.list-detail{
    float: left;
}
.order-price{
    float: right;
}
#oeder-pay{
    width: 429px;
    height: 40px;
}
#order-detail #order-pay{
    width: 429px;
    height: 40px;
    margin-top: 30px;
    background: #000;
    color: #fff;
    border: 1px solid #ececec;
    cursor: pointer;
}
#order-btn:hover #order-pay{
    background: #808080;
}
#question{
    height: 240px;
    border-bottom: 1px solid #ececec;
}
#usual-question{
    margin-top: 30px;
    margin-bottom: 30px;
}
#question ul{
    margin-left: 20px;
}
#question .question-list{
    list-style: disc;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
}

#question .question-list a{
    color: #000;
    font-size: 13px;
}
.question-list:hover a{
    text-decoration: underline;
}
#help #call{
    font-size: 13px;
}
/* footer开始 */
#footer{
    width: 1500px;
    height: 200px;
    margin: 50px auto;
    text-align: center;
    border-top: 1px #ececec solid;
    padding-top: 50px;
}
#footer-left{
    width: 500px;
    height: 100px;
    float: left;
}
#footer .footer-text{
    font-size: 14px;
}
#footer-middle{
    width: 500px;
    height: 100px;
    float: left;
}
#footer-right{
    width: 500px;
    height: 100px;
    float: right;
}
#footer .text-third{
    width: 80px;
    height: 40px;
    margin-top: 5px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #cccccc;
}
#footer p{
    margin-top: 10px;
}